body {
	margin: 0;
	padding: 0;
	background: url(graphicsForTask/bg-1.jpg);
	overflow: hidden;
}

#mainContainer {
	display: block;
}
#devil {
	bottom: 0;
	right: 0;
	position: absolute; 
}
#devil img{
	width: 200px;
	height: 200px;
}
#score {
	font-size: 60px;
	margin-left: 10px;
	color: white; 
}
#timer {
	position: absolute;
	left: 49%;
	color: white;
	font-size: 60px;
	display: inline-block;
}
#buttons {
	position: absolute;
	bottom: 25px;
	left: 35%;
	pointer-events: auto;
}
#stillLife, #stillLife_no {
	font-size: 30px;
	color: white;
	border-radius: 15px;
	border: none;
	margin-right: 10px;	
}
#picture{
	position: absolute;
	left: 40%;
	display: none;
}
#picture img, #endGame img {
	width: 300px;
	height: 300px;
}
#endGame {
	color: white;
	font-size: 50px;
	text-align: center;
	display: none;
	padding: 10px;
}